<!--/*#Jesse Fitzjarrell 9-30-15
#Blatent copying of Django Girls blog with some minor modifications. 
#I did this to learn Django and prove that I can follow a code example 
# I added a jQuery hide show on the comment section and changed the CSS */-->
{% extends "blog/base.html" %}

{% block content %}
    <h1>New comment</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Send</button>
    </form>
{% endblock %}