<!--/*#Jesse Fitzjarrell 9-30-15
#Blatent copying of Django Girls blog with some minor modifications. 
#I did this to learn Django and prove that I can follow a code example
# I added a jQuery hide show on the comment section and changed the CSS */-->
{% extends "blog/base.html" %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
   
    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
           <h1><a href="{% url "blog.views.post_detail" pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaks }}</p>
          
           <a class="commentlink" id = "commentlink{{forloop.counter}}"   href="#">Comments: {{ post.approved_comments.count }}</a>
           <div class= "commentdiv" id = "commentdiv{{forloop.counter}}"  style="display: none;">
             {% for comment in post.comments.all %}
    {% if user.is_authenticated or comment.approved_comment %}
    <div class="comment" >
        <div class="date">
            {{ comment.created_date }}
            {% if not comment.approved_comment %}
                <a class="btn btn-default" href="{% url "comment_remove" pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                <a class="btn btn-default" href="{% url "comment_approve" pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
            {% endif %}
        </div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
    </div>
    {% endif %}
{% empty %}
    <p>No comments here yet :(</p>
{% endfor %}

           </div>
           
        </div>
    {% endfor %}


 
<script>
$( ".commentlink" ).click(function() {
  var n = parseInt(this.id.replace (/[A-Za-z$-]/g, ""));
  $( "#commentdiv"+n).toggle( "slow" );
  return false;
});
</script>
{% endblock content %}